<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="text-align: center; font-size:1em;">Creacion Contenido </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="" style="text-align: left">
    <ion-searchbar showCancelbutton="focus" (ionInput)="filterList($event)"></ion-searchbar>
    <ion-grid>
      <ion-row class="ta" style="text-align: left;background:rgb(255, 204, 0);font-size:0.75em">
        <ion-col>
          <b> Nombre </b>
        </ion-col>
        <ion-col>
          <b>Cedula</b>
        </ion-col>
        <ion-col>
          <b>Nivel</b>
        </ion-col>
        <ion-col>
          <b>Puntaje</b>
        </ion-col>
      </ion-row>

      <ion-row class="tablaN" style="font-size:0.75em;" *ngFor="let foodItem of foodList">
        <ion-col>
          <b>{{ foodItem.name }} {{ foodItem.apellidos }}</b>
        </ion-col>
        <ion-col>
          <b>{{ foodItem.cedula }}</b>
        </ion-col>
        <ion-col>
          <b>{{ foodItem.nivelCre}}</b>
        </ion-col>
        <ion-col>
          <b>{{ foodItem.resultCre}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

<ion-card> 
  <ion-button color="secondary" class="ion-margin-top" type="submit" expand="block" (click)="generatePDF()"> Generar PDF
  </ion-button>
  <ion-button *ngIf="pdfObj" color="secondary" class="ion-margin-top" type="submit" expand="block" (click)="openPDF()">
    Abrir PDF</ion-button>
</ion-card>

<ion-card> 
  <ion-button color="danger"  class="ion-margin-top" routerLink="/reportes" type="submit" expand="block">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>Regresar
  </ion-button>
</ion-card>

</ion-content>
